@if (Errors.Any())
{
    @foreach (var error in Errors)
    {
        <div class="alert alert-danger" role="alert">
            <span>@error</span>
            <button type="button" class="close" aria-label="Close" @onclick="@(() => Remove(error))">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@code {
    [Parameter]
    public List<string> Errors { get; set; } = new List<string>();

    public void Remove(string error)
    {
        this.Errors.Remove(error);
    }
}
