@page "/measureUnits"
@inherits MeasureUnitListBase

<h1>Measure Units</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (MeasureUnits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var measureUnit in MeasureUnits)
            {
                <tr>
                    <td>@measureUnit.Id</td>
                    <td>@measureUnit.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
