@page "/edit/{Id:long}"
@inherits DishEditBase

<h1>Edit Dish</h1>
<EditForm Model="Dish" OnValidSubmit="@HandleValidSubmit">

    <div class="form-group">
        <label for="name">Name: </label>
        <InputText id="name" class="form-control" @bind-Value="@Dish.Name" placeholder="Enter dish name"></InputText>
    </div>

    <div class="form-group">
        <label for="description">Description: </label>
        <textarea id="description" class="form-control" @bind="@Dish.Description" placeholder="Enter dish description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>
@if (Dish.Ingredients != null & Dish.Ingredients.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Measure unit</th>
                <th>Product</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Dish.Ingredients.Count(); i++)
            {
                var ingredient = Dish.Ingredients.ToArray()[i];
                <tr>
                    @if (DisplayIngredientEditComponent[i])
                    {
                        <IngredientEditInTable Ingredient="ingredient"
                                               Index="i"
                                               ConfirmEventCallback="index => 
                                                                     {
                                                                         EditIngredient(index);
                                                                     }"
                                               CancelEventCallback="index =>
                                                                    {
                                                                        DisplayIngredientEditComponent[index] = false;
                                                                        StateHasChanged();
                                                                    }
                                               ">

                        </IngredientEditInTable>
                    }
                    else
                    {
                        <IngredientDisplayInTable Ingredient="ingredient"
                                                  Index="i"
                                                  EditEventCallback="index =>
                                                                     {
                                                                         DisplayIngredientEditComponent[index] = true;
                                                                         StateHasChanged();
                                                                     }"
                                                  DeleteEventCallback="deleteEvent => DeleteIngredient(ingredient)">
                        </IngredientDisplayInTable>
                    }
                </tr>
            }
        </tbody>
    </table>
}
<button @onclick="AddIngredient" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
<DisplayErrors Errors="Errors.ToList()">
</DisplayErrors>
